# M1-MIASHS<br/>Informatique - Remise à niveau<br/>Évaluation 1- 18/09/2019
# Sujet 1
Durée de l'examen 2h

## Préambule

**Sujet :**
* Une version *notebook* de ce sujet est accessible dans l'espace de cours de M1 sur le drive de l'université. Un dump pouvant aider pour la question 2 est aussi disponible. Pensez à sauvegarder régulièrement votre notebook.
* Un barème indicatif est donné entre parenthèses.
* Remarque. Les exercices peuvent être traités dans un ordre quelconque. Les réponses doivent être apportées aux endroits prévus dans le notebook.

**Remise de la copie**

Vous enverrez par mail à gwenael.richomme@univ-montp3.fr une archive compressée d'un dossier à votre nom contenant les documents contenant vos réponses, à savoir :
* une archive compressée contenant l’export MOCODO pour l’exercice 1
* une copie remplie du notebook avec les réponses aux exercices SQL et Python

# Partie 1 - Bases de données

## Exercice 1 - gestion de planning - MCD et MOD (4 pts)

**Contexte**<br/>
La société qui vous emploie a été contactée par une société d'exploitation forestière pour la mise en place d'une solution numérique facilitant et améliorant la gestion des forêts qu'elle gère. En première phase du processus de développement, une base de données est mise en place.

**Travail à réaliser**<br/>
Fournissez le MCD et le MOD de cette base de données.

**Documents à rendre**<br/>
Pour cette question, il est attendu que le MCD et le MOD soient développés avec **Mocodo**. Les fichiers exportés de Mocodo sont donc attendus.

**Informations relatives à l'exploitation financière**
* Les forêts exploitées sont découpées en parcelles. Les forêts ne sont pas recensées. Seules les parcelles le sont.
* Chaque parcelle est repérée par un codage interne alphanumérique dont la connaissance n'est pas utile ici. Sa superficie est mémorisée ainsi que la géolocalisation (latitude+longitude) de son entrée.
* Chaque parcelle est sous la responsabilité d'un gestionnaire. Le nombre de parcelles sous la responsabilité d'un même gestionnaire dépend de la superficie des parcelles et de leurs proximités.
* Actuellement la société conserve les informations nécessaires à l'exploitation forestière dans une unique feuille d'un fichier tableur. Ce fichier contient pour chaque parcelle et chaque espèce, le nombre d'arbres actuels sur la parcelle en fonction de leur statut. Afin de vous permettre de voir un exemple d'informations gérées, ci-suit un extrait du fichier actuel. Attention&nbsp;! comme cela est expliqué ci-après, le fichier va être abonné au profit d'une organisation plus riche. 

<table>
    <tr>
        <td>num_par</td>
        <td>sup_par</td>
        <td>x_par</td>
        <td>y_par</td>
        <td>nom_gest</td>
        <td>prenom_gest</td>
        <td>espece</td>
        <td>statut</td>
        <td>nb</td>
    </tr>
    <tr>
        <td>A23</td>
        <td>123</td>
        <td>48.4</td>
        <td>5.3</td>
        <td>Pouce</td>
        <td>Tom</td>
        <td>Chêne</td>
        <td>en croissance</td>
        <td>319</td>
    </tr>
    <tr>
        <td>A23</td>
        <td>123</td>
        <td>48.4</td>
        <td>5.3</td>
        <td>Pouce</td>
        <td>Tom</td>
        <td>Chêne</td>
        <td>à abattre</td>
        <td>6</td>
    </tr>
    <tr>
        <td>A23</td>
        <td>123</td>
        <td>48.4</td>
        <td>5.3</td>
        <td>Pouce</td>
        <td>Tom</td>
        <td>Merisier</td>
        <td>en croissance</td>
        <td>152</td>
    </tr>
    <tr>
        <td>A34</td>
        <td>110</td>
        <td>48.2</td>
        <td>5.4</td>
        <td>Pouce</td>
        <td>Tom</td>
        <td>Chêne</td>
        <td>en croissance</td>
        <td>37</td>
    </tr>
    <tr>
        <td>B10</td>
        <td>201</td>
        <td>48.7</td>
        <td>5.1</td>
        <td>Botté</td>
        <td>Chat</td>
        <td>Merisier</td>
        <td>à abattre</td>
        <td>37</td>
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>

* L'exploitation actuelle de ce fichier montre énormément de limites. En parallèle de l'amélioration de l'existant numérique,  la société déploie une technologie de QR-code. À proximité de chaque arbre, elle place un QR-code associé à l'abre. À chaque QR-code, des données sur l'arbre peuvent ainsi être associées : sa géolocalisation (latitude et longitude), son statut (en croissance, à abattre, abattu, ...), son espèce, la parcelle où il se trouve. À noter que latitude et longitude de chaque arbre n'étaient pas connues jusque là mais vont grandement faciliter le travail des gestionnaires. 
* Par ailleurs, des campagnes de mesure de la circonférence des arbres sont régulièrement menées. À cette occasion, plusieurs gestionnaires sont mobilisés afin que les mesures d'une même parcelle soient réalisées rapidement. Pour chaque mesure, dès sa réalisation, la date de mesure et le gestionnaire sont mémorisés. L'ensemble de ces données de mesure permettra sur une longue période d'estimer la vitalité de la parcelle.

<font color="blue">**Compléments aux fichiers remis**<br/>
(si vous avez des remarques à formuler, vous pouvez les ajouter ici)</font>

...........

## Exercice 2 - Avions - SQL (4 pts)

Dans cet exercice, nous considérons une version simplifiée d’un système de gestion des vols d'avion à l'échelle internationale.
Le MOD de la base est :
* <tt>Compagnie( <u>nom</u>, adresse_siege)</tt>
* <tt>Vol( <u>numero</u>, nom, aeroport_depart, aeroport_arrivee, nb_places, date, heure_depart, heure_arrivee)</tt>
* <tt>Passager( <u>identifiant</u>, numPasseport, nom, prenom)</tt>
* <tt>Gere( <u>nomCie</u>, <u>numVol</u>)</tt>
* <tt>Etat( <u>numeroVol</u>, <u>idPassager</u>, etat)</tt>
* <tt>Appartient( <u>nomCie</u>, <u>idPassager</u>)</tt>

Remarques : 
* état est un entier qui désigne l’état d’avancement de l’enregistrement de la personne (1 pour « réservé », 2 pour « enregistré », 3 pour « à bord »)
* le numéro de vol est un numéro de gestion interne auto-incrémenté. 
* Sur l’espace partagé du cours http://upvdrive.univ-montp3.fr/index.php/s/OWjakm4f1G4dRAn, vous **trouverez un dump** d’une implémentation de ce MOD.

**Important !** Les réponses aux questions sont à apporter dans les cellules après les questions. Ces cellules sont Markdown et le fait de démarrer la cellule par <tt>\`\`\` SQL</tt> et de la terminer par <tt>\`\`\`</tt> permet de bénéficier de la coloration syntaxique dans le notebook (après validation de la cellule).

**Question 1**

Donnez **une** instruction SQL permettant de créer la table ```nomCie```. Tenez compte de l'implémentation fournie.

**Réponse à la question 1**

```SQL
Ici votre réponse à la question 1
```

**Question 2**

Donnez ***une*** instruction SQL permettant de vous ajouter comme passager sur les vols <tt>2</tt>, <tt>4</tt> et <tt>6</tt>. Votre identiant de passager sera votre date de naissance au format <tt>AAAAMMJJ</tt> (par exemple <tt>19970907</tt> si vous êtes né(e) le 7 septembre 1997). Pour tous les vols, vous serez dans l'état 1.

**Réponse à la question 2** :

```SQL
Ici votre réponse à la question 2
```

**Question 3**

Donnez une intruction SQL permettant de modifier l'état de votre réservation sur le vol ```10``` : le nouvel état sera 2.

**Réponse à la question 3** :

```SQL
Ici votre réponse à la question 3
```

**Question 4**

Donnez une instruction SQL fournissant la **liste** des triplets ```(numPasseport, nom, prenom)``` de tous les passagers enregistrés (chaque passager n'apparaîtra qu'une fois).

**Réponse à la question 4**

```SQL
Ici votre réponse à la question 4
```

**Question 5**

Donnez une instruction SQL retournant le **nombre** de triplets ```(numPasseport, nom, prenom)``` de tous les passagers enregistrés (chaque passager n'apparaîtra qu'une fois).

**Réponse à la question 5**

```SQL
Ici votre réponse à la question 5
```

**Question 6**

Donnez une instruction SQL permettant de récupérer la liste de tous les passagers des vols partant de Montpellier.

**Réponse à la question 6**

```SQL
Ici votre réponse à la question 6
```

# Partie 2 - Python (12 points)
Pour tous les exercices Python :
* Vous pouvez rajouter des blocs de notebook avec des tests
* Dans les réponses qui seront apportées, il est interdit d'utiliser des instructions <tt>continue</tt>, <tt>break</tt>. Il est également interdit d'utiliser des instructions <tt>return</tt> à l'intérieur des instructions répétitives.
* Vous chercherez à arrêter les traitements dès que possible.
* Vous utiliserez préférentiellement l'instruction *for* quand le nombre d'itérations d'un traitement est connu à l'avance. Vous utiliserez préférentiellement l'instructition *while* quand le nombre d'itérations peut varier d'une exécution à l'autre.
* Vous chercherez à donner des réponses facilement traductibles dans d'autres langages (donc n'utilisant pas des spécificités trop fortes de Python). Si vous en avez le temps et que vous désirez montrer votre connaissance de Python, vous pouvez apporter une deuxième réponse, plus pythonesque, à certaines questions.

**Question 1.** Donnez une séquence d'instructions permettant de créer une liste de 3 listes contenant dans l'ordre les informations données dans la table suivante. Le premier élément de chaque sous-liste liste sera une chaîne de caractères, le deuxième un entier, le troisième un nombre flottant.

<table>
    <tr>
        <td>Liste 1 :</td>
        <td>Paris</td>
        <td>2 190 327</td>
        <td>105,40</td>
    </tr>
    <tr>
        <td>Liste 2 :</td>
        <td>Lyon</td>
        <td>515 695</td>
        <td>47,87</td>
    </tr>
    <tr>
        <td>Liste 3 :</td>
        <td>Bordeaux</td>
        <td>252 040</td>
        <td>49,36</td>
    </tr>
    </table>

In [1]:
# Réponse 1 : donnez votre séquence d'instructions dans cette cellule après ce commentaire
LL=[["Paris",2190327,105.40],["Lyon",515695,47.87],["Bordeaux",252040,49.36]]
print(LL)

[['Paris', 2190327, 105.4], ['Lyon', 515695, 47.87], ['Bordeaux', 252040, 49.36]]

Pour la suite de l'exercice, nous considérons la classe suivante.

In [2]:
class Ville( ):
    def __init__(self, nom, nb_habitants, superficie):
        self.nom = nom
        self.nb_habitants = nb_habitants
        self.superficie = superficie

**Question 2.** Donnez une séquence d'instructions permettant de créer une liste de 3 villes contenant les informations contenues dans la table suivante

<table>
    <tr>
        <td>Montpellier</td>
        <td>281 613</td>
        <td>56,88</td>
    </tr>
    <tr>
        <td>Nîmes</td>
        <td>151 001</td>
        <td>161,85</td>
    </tr>
    <tr>
        <td>Béziers</td>
        <td>76 493</td>
        <td>95,48</td>
    </tr>
</table>

In [3]:
# Réponse 2 : donnez votre séquence d'instructions dans cette cellule après ce commentaire
LVilles=[Ville("Montpellier",281,56.88),Ville("Nimes",151,161.85),Ville("Beziers",76,95)]
for i in range(0,3,1):
    print(LVilles[i].nom)

Montpellier
Nimes
Beziers

**Question 3.** Compléter la fonction Python suivante :

In [4]:
def ajout_Villes( liste_villes_objets, liste_villes_2D ):
    """
    Donnée/Résultat 
        liste_villes_objets : liste de Ville
    Donnée
        liste_villes_2D : listes de listes, chaque sous-liste contenant dans l'ordre le nom d'une ville,
             le nombre d'habitants, la superficie
    Résultat
        aucun
    Rôle 
        La fonction ajoute, dans la liste liste_villes_objets, 
        chacune des villes décrites dans les listes de liste_villes_2D
        (chaque ville est stockée sous forme d'une instance de la classe Ville)
    """
    for i in range (0,len(liste_villes_2D)):
        liste_villes_objets.append(Ville(liste_villes_2D[i][0],liste_villes_2D[i][1],liste_villes_2D[i][2]))

**Question 4.** Écrire une séquence d'instructions permettant de tester sur un exemple la fonction précédente.

In [5]:
# Réponse 4 : donnez votre séquence d'instructions dans cette cellule après ce commentaire
liste_villes_objets=[]
liste_villes_2D=[["Mtp",12,13.12],["Paris",80,45.10]]
ajout_Villes(liste_villes_objets,liste_villes_2D)
for i in range (0,len(liste_villes_objets),1):
    print(liste_villes_objets[i].nom)
    print(liste_villes_objets[i].nb_habitants)
    print(liste_villes_objets[i].superficie)

Mtp
12
13.12
Paris
80
45.1

**Question 5.** Compléter la fonction suivante

In [6]:
def moyenne_sup_seuil( liste_villes, seuil):
    """
    Donnée
        liste_villes : liste d'instances de la classe Ville
        seuil : nombre
    Résultat
        nombre
    Rôle
        Calcule et retourne la moyenne des villes contenues dans liste_villes
        dont la superficie est supérieure ou égale à seuil
    """
    somme_habitants=0
    moyenne=0
    cpt=0
    for i in range (0,len(liste_villes),1):
        if(liste_villes[i].superficie>=seuil):
            somme_habitants+=liste_villes[i].nb_habitants
            cpt+=1
    moyenne=somme_habitants/cpt 
    return moyenne

**Question 6.** 
Écrire une séquence de tests de la fonction précédente.

In [7]:
# Réponse 6 : donnez votre séquence d'instructions dans cette cellule après ce commentaire
moyenne_sup_seuil(liste_villes_objets,10)

46.0

**Question 7.** Écrire une fonction permettant de chercher, dans une liste d'instances de la classe Ville, une ville dont le nom est fourni en paramètre. La fonction retournera la première instance trouvée.

In [8]:
# Réponse 7 : écrivez votre fonction dans cette cellule après ce commentaire
def chercher_Ville(liste_villes,nom_ville):
    i=0
    ok=False
    while i<len(liste_villes) and not ok:
        if liste_villes[i].nom==nom_ville:
            ok=True
            nom_a_retourner=liste_villes[i].nom
        i+=1
    return nom_a_retourner

**Question 8.** 
Écrire une séquence de tests de la fonction précédente.

In [9]:
# Réponse 8 : donnez votre séquence d'instructions dans cette cellule après ce commentaire
chercher_Ville(liste_villes_objets,"Mtp")

'Mtp'